__pycache__/

*.pyc
.ipynb_checkpoints/smatcher-checkpoint.py
IMG_1185.jpg
data/.DS_Store
.DS_Store
.DS_Store
.DS_Store
data/.DS_Store
data/amr_bank_data/.DS_Store
grs/.DS_Store
grs/lexicons/.DS_Store
models/.DS_Store
models/.DS_Store
UD-Corpora-Analysis/.DS_Store
data/amr_bank_data/.DS_Store
data/evaluation/sentence0130.txt
data/evaluation/sentence1335.txt
data/amr_bank_data/.DS_Store
data/amr_bank_data/.DS_Store
data/amr_bank_data/.DS_Store
data/amr_bank_data/.DS_Store
data/amr_bank_data/.DS_Store
AMR-Pattern-Identification/.ipynb_checkpoints/Untitled-checkpoint.ipynb
AMR-Pattern-Identification/Untitled.ipynb
.ipynb_checkpoints/amr_pattern_ident-checkpoint.ipynb
amr_pattern_ident.ipynb
UD-Corpora-Analysis/.ipynb_checkpoints/UD_analyser-checkpoint.ipynb
data/dev_data/pattern_ident_test/evaluation/sentence0002.txt
data/dev_data/pattern_ident_test/evaluation/sentence0003.txt
data/dev_data/pattern_ident_test/evaluation/sentence0004.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_1.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_10.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_11.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_12.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_13.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_14.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_15.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_16.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_17.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_18.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_19.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_2.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_20.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_21.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_22.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_23.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_24.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_25.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_26.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_27.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_28.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_29.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_3.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_30.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_31.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_32.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_33.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_34.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_35.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_36.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_37.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_38.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_39.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_4.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_40.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_41.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_42.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_43.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_44.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_45.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_46.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_47.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_5.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_6.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_7.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_8.txt
data/dev_data/pattern_ident_test/evaluation/sentence0005_9.txt
data/dev_data/pattern_ident_test/evaluation/sentence0059.txt
data/dev_data/pattern_ident_test/evaluation/sentence0059_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence0059_1.txt
data/dev_data/pattern_ident_test/evaluation/sentence0059_10.txt
data/dev_data/pattern_ident_test/evaluation/sentence0059_11.txt
data/dev_data/pattern_ident_test/evaluation/sentence0059_2.txt
data/dev_data/pattern_ident_test/evaluation/sentence0059_3.txt
data/dev_data/pattern_ident_test/evaluation/sentence0059_4.txt
data/dev_data/pattern_ident_test/evaluation/sentence0059_5.txt
data/dev_data/pattern_ident_test/evaluation/sentence0059_6.txt
data/dev_data/pattern_ident_test/evaluation/sentence0059_7.txt
data/dev_data/pattern_ident_test/evaluation/sentence0059_8.txt
data/dev_data/pattern_ident_test/evaluation/sentence0059_9.txt
data/dev_data/pattern_ident_test/evaluation/sentence0130.txt
data/dev_data/pattern_ident_test/evaluation/sentence0130_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence0193.txt
data/dev_data/pattern_ident_test/evaluation/sentence0193_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence0242.txt
data/dev_data/pattern_ident_test/evaluation/sentence0242_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence0276.txt
data/dev_data/pattern_ident_test/evaluation/sentence0276_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence0430.txt
data/dev_data/pattern_ident_test/evaluation/sentence0430_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence0523.txt
data/dev_data/pattern_ident_test/evaluation/sentence0523_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence0778.txt
data/dev_data/pattern_ident_test/evaluation/sentence0778_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence0778_1.txt
data/dev_data/pattern_ident_test/evaluation/sentence0799.txt
data/dev_data/pattern_ident_test/evaluation/sentence0799_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence0887.txt
data/dev_data/pattern_ident_test/evaluation/sentence0887_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence0921.txt
data/dev_data/pattern_ident_test/evaluation/sentence0921_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence0968.txt
data/dev_data/pattern_ident_test/evaluation/sentence0968_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence1000.txt
data/dev_data/pattern_ident_test/evaluation/sentence1000_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence1015.txt
data/dev_data/pattern_ident_test/evaluation/sentence1015_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence1166.txt
data/dev_data/pattern_ident_test/evaluation/sentence1166_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence1245.txt
data/dev_data/pattern_ident_test/evaluation/sentence1245_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence1335.txt
data/dev_data/pattern_ident_test/evaluation/sentence1335_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence1426.txt
data/dev_data/pattern_ident_test/evaluation/sentence1426_0.txt
data/dev_data/pattern_ident_test/evaluation/sentence1559.txt
data/dev_data/pattern_ident_test/evaluation/sentence1559_0.txt
data/dev_data/pattern_ident_test/ud/sentence0001.conll
data/dev_data/pattern_ident_test/ud/sentence0002.conll
data/dev_data/pattern_ident_test/ud/sentence0003.conll
data/dev_data/pattern_ident_test/ud/sentence0004.conll
data/dev_data/pattern_ident_test/ud/sentence0005.conll
data/dev_data/pattern_ident_test/ud/sentence0006.conll
data/dev_data/pattern_ident_test/ud/sentence0007.conll
data/dev_data/pattern_ident_test/ud/sentence0008.conll
data/dev_data/pattern_ident_test/ud/sentence0009.conll
data/dev_data/pattern_ident_test/ud/sentence0010.conll
